.theme-dark {
  --color-primary: #f7c437;
  --color-secondary: #2a2c2d;
  --color-accent: rgb(134, 153, 237);
  --font-color: #fdfdfd;
  --secondary-bg:rgb(229, 229, 229);
 --bg-color: linear-gradient(to right, rgb(34, 33, 39), rgb(61, 58, 65));
}


.theme-light {
    --color-primary:#f7c437;
    --color-secondary: rgb(227, 227, 227);
    --color-accent: #fd6f53;
    --font-color: #f9f9f9;
    --bg-color: rgb(155, 155, 155);
    --secondary-bg:rgb(155, 155, 155);
  }


  body {
    background: var(--bg-color);
}
#cardbg{
  background: var(--secondary-bg);
}

.noteCard.my-2.mx-2.card{
  background: var(--secondary-bg);
  color: black;
}

/* #notes{
  background: var(--secondary-bg);
} */

#addbtn{
  border: 0px;
}


  .container {
    display: flex;
    width: 100%;
    height: 100%;
    /* background: var(--color-secondary); */
    flex-direction: column;
  }

 

  .container h6 {
    color: var(--font-color);
    font-family: sans-serif;
  }
  .container button {
    color: var(--font-color);
    /* background: var(--color-primary); */
    padding: 10px 20px;
    /* border: 0; */
   
    
  }
  .navbar{
    background-color:rgb(134, 153, 237);
  
  }
  
 
  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(123, 120, 120);
    --webkit-transition: 0.4s;
    transition: 0.4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 40px;
    width: 40px;
    left: 0px;
    bottom: 4px;
    top: 0;
    bottom: 0;
    margin: auto 0;
    --webkit-transition: 0.4s;
    transition: 0.4s;
    box-shadow: 0 0px 15px #2020203d;
    background: white url('https://i.ibb.co/FxzBYR9/night.png');
    background-repeat: no-repeat;
    background-position: center;
  }
  
  input:checked + .slider {
    background-color: #f5f7f8;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #f3f3f4;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(24px);
    -ms-transform: translateX(24px);
    transform: translateX(24px);
    background: white url('https://i.ibb.co/7JfqXxB/sunny.png');
    background-repeat: no-repeat;
    background-position: center;
  }
  
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
 #toggle_checkbox
{
    display: none;
}


  