
#toggleDarkModeBtn {
    margin-left: 30px;
    padding: 7px;
  
    width: 120px;
    font-size: 1.1rem;
    font-family: 'Varela Round', sans-serif;
    color: rgb(23, 26, 57);
    background-color: rgba(6, 1, 17, 0.289);
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
  }

.light-mode-button span:nth-child(1) {
    width: 60px !important;
    height: 25px !important;
    top: 8px !important;
  }
  .light-mode-button span:nth-child(2) {
    width: 16px !important;
    height: 14px !important;
    top: 13px !important;
  }
  .light-mode-button {
    width: 50px !important;
  }
  body[light-mode='dark'] .light-mode-button span:nth-child(2) {
    left: 40px !important;
    
  }
  #searching{
    
    height: 25px ;
    width: 100px;
    
  }

@media(max-width: 350px){
    #searching{
      
      height: 20px ;
      width: 60px;
      
    } 
  }




@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 2;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 2;
  }
}
.show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 2;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 2;
  }
}

.light-mode {
  background-color: #e6e6fa;
}
.light-mode header nav div h1 {
  color: #f4f3f5;
  font-weight: 900;
}
.light-mode .container h1 {
  color: #000000;
  font-weight: 500;
  display: sticky;
}
.dark-mode .container h1 {
    color: #ffffff;
    font-weight: 500;
    display: sticky;
  }

.dark-mode {
  background-color: rgba(0, 0, 0, 0.311);
}


/* Light Mode Button Styles
        --------------------------- */
.light-mode-button {
    background: 0;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    height: 40px;
    width: 100px;
    position: relative;
            border: 1px solid rgba(255, 255, 255, 0);
          }
.light-mode-button:focus {
    outline: none; /* Not ideal for accessibility */
          }
.light-mode-button span:nth-child(1) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 40px;
    border-radius: 20px;
    background-color: #d6d7db;
    box-shadow: inset 1px 1px 3px 0 rgb(0 0 0 / 40%);
    transition: 0.3s;
          }
.light-mode-button span:nth-child(2) {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 1px 1px 2px 0 rgb(0 0 0 / 40%);
    transition: 0.3s;
          }
          
          /* Light & Dark Mode Styles
          --------------------------- */

body[light-mode='light'] {
      background-color: #ffffff;
      color: #526583;
  }
body[light-mode='dark'] {
    background-color: #000000;
    color: #a7a4a4;
}
body[light-mode='dark'] .light-mode-button span:nth-child(1) {
    background-color: #ffffff;
    color: #141516;
}
body[light-mode='dark'] .light-mode-button span:nth-child(2) {
    left: 65px;
    background-color: #000000;
}
          
.msg {
    position: fixed;
    z-index: 56;
    width: fit-content;
    height: fit-content;
    top: 5%;
    right: 2%;
    padding: 10px 20px;
    display: none;
    border-radius: 5px;
    font-size: 15px;
    background: #0000006e;
    color: white;
    box-shadow: 0 10px 15px -3px rgb(157, 157, 157), 0 4px 6px -2px rgb(0 0 0 / 5%);
    transition: transform ease-in-out 0.2s;
}
.show.msg {
    display: block;
    animation: fadeInAnimation ease 0.2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
          
@keyframes fadeInAnimation {
    0% {
              margin-top: -10%;
    }
    100% {
              margin-top: 3%;
    }
}
